<%- include("../partials/_head") -%>

    <body>
        <section id="about">
            <h2 class="about-heading">
                Women in Technology
            </h2>
            <div class="container1">
            <img class="home_pg_image" src="images/HomePage_img.jpg" id="aboutimage" alt="about image">
            <div class="text-block">
            <h1 class="heading-block">
            Search women in tech
            </h1>
            <p class="blurb">
            Be inspired 
            </p>
            <form id="search-form" action="/" method="GET">
                <input name="name" id="name-query" type="text" />
                <input type="submit" value="Search" />
            </form>
            </div>
            </div>
    </section>
    
        

        

        <div class="wrapper">
        <% people.forEach(person => { %>
            <div class="wrapper_item"><a href="/profile/<%= person.id %>">
                <img class="thumb_img" src=<%= person.photo %>>
                <h3 class="thumb_title"><%= person.name %></h3></a></div>              
        <% }) %>
        </div>
    
            </body>   


<%- include("../partials/_footer") -%>