<%- include("../partials/_head") -%>

    <body>
        <section id="about">
            
        <div class="container1">
            <div class="home_pg_image_container">
                <img class="home_pg_image" src="images/Group_photo.jpg" id="aboutimage" alt="about image"></div>
            <div class="right_text">
                <h1 class="about-heading">Women in Technology</h1>
                <h2 class="heading-block">Search for your inspiration!</h2>
            <div>
            
            <div class="sign_up_area">
                <form id="search-form" action="/" method="GET">
                    <div class="form-item-searchname">
                        <input name="name" id="name-query" type="text" class="input_box _searchname" placeholder="Search by name"/>
                    </div>
            </div>
                    <div>
                        <input class="btn_type9" type="submit" value="Search" />
                     </div>
                </form>
        </div>
            </div>
    </section>
    
        <div class="wrapper">
        <% people.forEach(person => { %>
            <div class="wrapper_item"><a href="/profile/<%= person.id %>">
                <img class="thumb_img" src=<%= person.photo %>>
                <h3 class="thumb_title"><%= person.name %></h3></a></div>              
        <% }) %>
        </div>
    
            </body>   


<%- include("../partials/_footer") -%>