<%- include("../partials/_head") -%>

    <div id="container" class="bg">
        <div id="content" class="ct_box">
            <div class="cont_box2">
                <h2 class="profilename"><%= person.name %></h2>
            <div class="inner_wrap">
                <div class="profilename_area">
            <img class="profile_photo" src=<%= person.photo %>>
            <p class="sub_tit_heading"><%= person.tagline %></p>
            <p class="sub_tit_time"><%= new Date(person.published_date).toLocaleDateString(undefined, { year: 'numeric', month: 'long', day: 'numeric' }) %></p>
            <p class="sub_tit_bio"><%= person.bio %></p>
    </div>

<%- include("../partials/_footer") -%>